{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>BUET CSE FEST 2022 Picture Puzzle</title>

        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
    </head>

    <body class="text-center">
    {#    ----------------------------------------------- NAVBAR START ------------------------------------------------#}
        <div>
            <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: rgb(30, 0, 54);">
                <a class="navbar-brand" href="{% url 'home' %}">Picture Puzzle</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'leaderboard' %}">Leaderboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active disabled" href="#">Play<span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link disabled px-3">Welcome, {{ user.username }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Log out</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
{#    ----------------------------------------------- NAVBAR END ------------------------------------------------#}

        <div class="container">
            <main role="main" class="py-lg-5">
                <h1>Why you heck me :(</h1>
                <h2 class="mt-5">{{ random_quote }}</h2>
                {% if random_image %}
                    <img class="mt-4" src="{{ random_image.test_link }}" alt="meme" style="max-height: 500px; max-width: 500px;">
{#                    <img class="mt-4" src="{{ random_image.get_image }}" alt="meme" style="max-height: 500px; max-width: 500px;">#}
                {% else %}
{#                    <img class="mt-4 w-75" src="{% static 'images/7ee35c124398243.Y3JvcCwzNDA5LDI2NjcsMjk1LDA.png' %}" alt="meme">#}
                {% endif %}
            </main>
        </div>
        {% include 'base/footer.html' %}
    </body>
</html>