{% extends 'base/base.html' %}
{% block content %}
    <h1>This is the home page</h1>


    {% if user_active %}
        <a href="{% url 'rank_list' %}">View Rank List</a><br>
        <a href="{% url 'puzzle' user_level %}">Next Puzzle</a><br>
        <a href={% url 'logout' %}>Log Out</a>
    {% else %}
        <a href="{% url 'login' %}">You already have an account? Login here.</a><br>
        <a href="{% url 'register' %}">Don't have an account? Register here</a><br>
    {% endif %}

{% endblock %}