{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>BUET CSE FEST 2022 Picture Puzzle</title>
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
        <link href="{% static 'css/home.css' %}" rel="stylesheet">

    </head>

    <body class="text-center background-image">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <header class="masthead mb-auto">
                <div class="inner">
                    <a class="masthead-brand h3 nav-link" href="{% url 'home' %}">Picture Puzzle</a>
                    <nav class="nav nav-masthead justify-content-center">
                        {% if user_active %}
                            <a class="nav-link disabled">{{ user.username }}</a>
                            <a class="nav-link" href="{% url 'leaderboard' %}">Leaderboard</a>
                            <a class="nav-link" href="{% url 'puzzle' user_level %}">Play</a>
                            <a class="nav-link" href="{% url 'logout' %}">Log out</a>
                        {% else %}
                            <a class="nav-link" href="{% url 'login' %}">Log in</a>
                            <a class="nav-link" href="{% url 'register' %}">Register</a>
                        {% endif %}
                    </nav>
                </div>
            </header>

            <main role="main" class="inner cover">


                <h1 class="cover-heading">BUET CSE FEST 2022</h1>
                <h2 class="cover-heading">Picture Puzzle</h2>
                <p class="lead">
                Color and aesthetics will be changed as per the logo and banner color. <br>here goes some random cool sentences about buet cse and one of the most anticipated events of the celebration ... Picture Puzzle ... and blah blah.  Sign up and have fun!
                </p>
            </main>

            {% include 'base/footer.html' %}
        </div>
    </body>
</html>




{##}
{#{% extends 'base/base.html' %}#}
{#{% block content %}#}
{#    <h1>This is the home page</h1>#}
{##}
{##}
{#    {% if user_active %}#}
{#        <a href="{% url 'rank_list' %}">View Rank List</a><br>#}
{#        <a href="{% url 'puzzle' user_level %}">Next Puzzle</a><br>#}
{#        <a href={% url 'logout' %}>Log Out</a>#}
{#    {% else %}#}
{#        <a href="{% url 'login' %}">You already have an account? Login here.</a><br>#}
{#        <a href="{% url 'register' %}">Don't have an account? Register here</a><br>#}
{#    {% endif %}#}
{##}
{#{% endblock %}#}
{##}

