{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>BUET CSE FEST 2022 Picture Puzzle</title>
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
        <link href="{% static 'css/home.css' %}" rel="stylesheet">

    </head>
    <body class="text-center">

    {#    ----------------------------------------------- NAVBAR START ------------------------------------------------#}
        <div>
            <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: rgb(30, 0, 54);">
                <a class="navbar-brand" href="{% url 'home' %}">Picture Puzzle</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'register' %}">Register</a>
                            </li>
                    </ul>
                </div>
            </nav>
        </div>
{#    ----------------------------------------------- NAVBAR END ------------------------------------------------#}
        <div class="container d-flex mt-5 w-100 p-3 mx-auto flex-column">

            <main role="main" class="py-lg-5">
                <div class="container w-50">
                    <form class="form-signin" action='login' method="post">
                        {% csrf_token %}
                        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                        <div>
                        {% if messages %}
                            <div class="p-1 text-danger">
                                {% for message in messages %}
                                <p>{{ message }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                        </div>
                        <label for="username" class="sr-only">Username</label>
                        <input class="form-control validate" type="text" id="username" name="username" placeholder="username" required autofocus>

                        <label for="password" class="sr-only">Password</label>
                        <input class="form-control mt-2" type="password" id="password" name="password" placeholder="Password" required>

                        <button class="btn btn-lg mybutton btn-block mt-5" type="submit">Sign in</button>
                    </form>
                    <div class="text-sm-center mt-3">Forgotten password? Contact us at <a href = "mailto: buetcsefest2022@gmail.com">buetcsefest2022@gmail.com</a></div>
                </div>
            </main>

        </div>
        {% include 'base/footer.html' %}
        <script src="{% static 'js/jquery-3.5.1.slim.min.js' %}" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    </body>
</html>