{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>BUET CSE FEST 2022 Picture Puzzle</title>
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
        <link href="{% static 'css/home.css' %}" rel="stylesheet">

    </head>

    <body class="text-center background-image">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <header class="masthead mb-auto">
                <div class="inner">
                    <a class="masthead-brand h3 nav-link" href="{% url 'home' %}">Picture Puzzle</a>
                    <nav class="nav nav-masthead justify-content-center">
                        {% if user_active %}
                            <a class="nav-link" href="{% url 'leaderboard' %}">Leaderboard</a>
                            <a class="nav-link" href="{% url 'puzzle' user_level %}">Play</a>
                            <a class="nav-link" href="{% url 'logout' %}">Log out</a>
                        {% else %}
                            <a class="nav-link" href="{% url 'login' %}">Log in</a>
                            <a class="nav-link" href="{% url 'register' %}">Register</a>
                        {% endif %}
                    </nav>
                </div>
            </header>

            <main role="main">
                <div class="container w-50">
                    <form class="form-signin" action='login' method="post">
                        {% csrf_token %}
                        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

                        <label for="username" class="sr-only">Username</label>
                        <input class="form-control validate" type="text" id="username" name="username" placeholder="username" required autofocus>

                        <label for="password" class="sr-only">Password</label>
                        <input class="form-control mt-2" type="password" id="password" name="password" placeholder="Password" required>

                        <button class="btn btn-lg mybutton btn-block mt-5" type="submit">Sign in</button>
                    </form>
                </div>
                <div>
                {% if messages %}
                    <div class="alert-danger">
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </div>
                {% endif %}
                </div>
            </main>

            {% include 'base/footer.html' %}
        </div>
    </body>
</html>





{#{% extends 'base/base.html' %}#}
{#{% load static %}#}
{#{% block content %}#}
{#    <div class="text-center container w-25 bg-light px-5 mt-lg-5">#}
{#        <form class="form-signin" action='login' method="post">#}
{#            {% csrf_token %}#}
{#            <img class="mb-4 mt-lg-5" src="{% static 'images/logo.jpg' %}" alt="" width="72" height="72">#}
{#            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>#}
{##}
{#            <label for="username" class="sr-only">Username</label>#}
{#            <input class="form-control validate" type="text" id="username" name="username" required autofocus>#}
{##}
{#            <label for="password" class="sr-only">Password</label>#}
{#            <input class="form-control" type="password" id="password" name="password" placeholder="Password" required>#}
{##}
{#            <button class="btn btn-lg btn-primary btn-block mt-lg-5" type="submit">Sign in</button>#}
{#            <p class="mt-5 mb-3 text-muted">&copy; 2017-2020</p>#}
{#        </form>#}
{#    </div>#}
{#    <div>#}
{#        {% if messages %}#}
{#            <div class="alert-danger">#}
{#                {% for message in messages %}#}
{#                    <li>{{ message }}</li>#}
{#                {% endfor %}#}
{#            </div>#}
{#        {% endif %}#}
{#    </div>#}
{#{% endblock %}#}
