{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>BUET CSE FEST 2022 Picture Puzzle</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">
    </head>
    <body>
        <h1>Message: {{ msg }}</h1>
        {% if puzzle %}
            <h2>{{ puzzle.title }}</h2>
            <img class="" src="{{ puzzle.get_image }}" style="margin-top: 50px; max-width:100%;" alt="puzzle.title">
            <h2>answer: {{ puzzle }}</h2>
            <form method="post">
                {% csrf_token %}
                {{ form }}
                <button type="submit">Submit</button>
            </form>
        {% endif %}
    </body>
</html>
