{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ranking Page</title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>
<table class="table table-dark">
    <thead>
    <tr>
        <th scope="col">Rank</th>
        <th scope="col">Username</th>
        <th scope="col">Std. ID</th>
    </tr>
    </thead>
    <tbody>
    {% for p in rank_list %}
    <tr>
        <th scope="row">{{ p.participant.position }}</th>
        <td>{{ p.username }}</td>
        <td>{{ p.participant.student_ID }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>